.table {
  width: 100%;
  background: white;
  border-radius: 12px;
  overflow: hidden;

  th {
    background: white;
    padding: 14px;
    font-size: 16px;
    text-align: left;
    color: #333;
    font-weight: 700;
    border-bottom: 1px solid #ddd;
  }

  td {
    padding: 14px;
    font-size: 15px;
    color: #222;
    border-bottom: 1px solid #ddd;
  }

  tr:last-child td {
    border-bottom: none;
  }

  .status {
    background: rgb(164, 239, 154);
    color: black;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    min-width: 80px;
  }
}