@import "../../scss/colors.scss";

.loginPage {
  display: flex;
  background-color: #f4f9fd;
  min-width: 100vw;
  min-height: 100vh;
  flex-direction: row-reverse;

  .gradient {
    flex: 55;
    padding: 111px 47px;
    display: flex;
    align-items: end;
    justify-content: end;
    background: linear-gradient(0deg, #010511 0%, #071649 50%, #010511 100%);

    p {
      color: white;
      width: 55%;
      font-size: 48px;
      line-height: 58px;
      font-style: italic;
      font-weight: 300;
    }
  }

  .right {
    flex: 45;
    padding: 32px;

    form {
      width: 100%;
      max-width: 400px;
    }

    .heading {
      font-size: 36px;
      font-weight: 600;
      line-height: 44px;
      margin-bottom: 48px;
    }

    .inputBox {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid black;
      height: 40px;
      margin-bottom: 28px;
      padding-right: 10px;
      gap: 10px;
      position: relative;

      &:nth-last-of-type(2) {
        margin-bottom: 47px;
      }

      input {
        flex-grow: 1;
        background: transparent;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        outline: 0;

        &::placeholder {
          font-size: 20px;
          font-weight: 500;
          line-height: 24px;
          color: #4e4e4e;
        }
      }

      .error {
        position: absolute;
        color: red;
        bottom: -25px;
        left: 0;
        font-size: 14px;

        visibility: hidden;

        &.visible {
          visibility: visible;
        }
      }
    }

    .loginBtn {
      width: 100%;
      padding: 8px 0;
      font-size: 20px;
      line-height: 24px;
      background: $light-blue;
      color: #fff;
      font-weight: 600;
      border-radius: 4px;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      position: relative;
      height: 40px;
    }

    .links {
      margin-top: 20px;
      display: flex;
      justify-content: center;

      a {
        color: $light-blue;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;

        &:hover {
          color: $secondary-green;
        }
      }
    }

    .googleBtnContainer {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 20px;

      button {
        padding: 12px;
        background-color: #4285f4;
        border: none;
        border-radius: 10px;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #357ae8;
        }

        &:disabled {
          background-color: #d1e3f0;
          cursor: not-allowed;
        }

        svg {
          margin-right: 8px;
        }
      }
    }
  }
}
