.notificationDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f9f9f9;
  height: 100vh;
}

.header {
  font-size: 24px;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 10px
}

.message {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
  text-align: center;
}

.date {
  font-size: 14px;
  color: #999;
  margin-bottom: 30px;
}

.backButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #081545;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.backButton:hover {
  background-color: #081545;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.error {
  font-size: 16px;
  color: #e74c3c;
  margin-top: 20px;
}

