.pageBody {
  justify-content: center;
  align-items: center;
  margin: 5vh 10vw 5vh 3vw;

  h1 {
    font-size: 45px;
    margin-bottom: 20px;
  }
  .Searchbar {
    display: flex;
    min-width: 100%;
    z-index: -9999;

    button {
      margin-left: 10px;
      margin-top: -18px;
      z-index: 2;
    }
    input {
      padding: 10px 10px 10px 38px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      flex-grow: 1;
      min-width: 100%;
      margin-left: -35px;
      z-index: 1;
    }
  }
  .professorList {
    display: flex;
    flex-direction: column;
    gap: 15px;


    .professorItem {
      display: flex;
      align-items: center;
      background: #f9f9f9;
      justify-content: space-between;
      padding: 10px;
      cursor: pointer;

      &:hover {
        background: #f1f1f1;
      }

      .avatarSmall {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 2vw;
      }

      .description {
        min-width: 20vw;
        margin-right: 30vw;
        h2 {
          font-size: 1rem;
        }

        p {
          font-size: 0.9rem;
          color: #555;
        }
      }

      .detailsButton {
        background-color: #0b0b3b;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 100px;

        &:hover {
          background-color: #1a1a5e;
        }
      }
    }
  }
}
