.economicsPage {
    padding: 40px;
    max-width: 1000px;
    margin: auto;
    text-align: left;
    font-family: 'Inter', sans-serif;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 28px;
        font-weight: 600;
    }

    .deleteButton {
        background-color: #d9534f;
        color: white;
        border: none;
        padding: 6px 15px;
        border-radius: 6px;
        cursor: pointer;
        font-size: 14px;
        transition: background 0.3s;

        &:hover {
            background-color: #c9302c;
        }
    }

    .details {
        font-size: 15px;
        font-weight: 300;
        margin-bottom: 20px;

        .detailsRow {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
        }

        .detailLabel {
            font-weight: bold;
            font-weight: 400;
            color: #333;
        }

        .detailValue {
            text-align: right;
            color: #555;
        }
    }

    .searchBar {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 20px;
        padding: 12px;
        background: #f9f9f9;

        input {
            flex: 1;
            border: none;
            outline: none;
            padding: 8px;
            font-size: 16px;
            background: transparent;
        }

        img {
            width: 18px;
            cursor: pointer;
            margin-left: 10px;
        }
    }

    .quizTableContainer {
        background: white;
        overflow: hidden;
        border-radius: 80px;
    }

    .quizTable {
        width: 100%;
        table-layout: fixed; 
        border-collapse: separate;
        border-spacing: 0 10px; 

        thead {
            font-weight: 600;
            text-align: left;
            border-radius: 20px;
        }

        th {
            padding: 12px;
            text-align: left;
            border-radius: 20px;
        }

        tbody tr {
            background: #F4F9FD;
            border-radius: 20px;
        }

        td {
            padding: 12px;
            text-align: left;
        }

        td:first-child {
            width: 40%; 
        }

        td:nth-child(2) {
            width: 40%; 
        }

        td:last-child {
            width: 20%;
            text-align: right; 
        }

        .viewButton {
            background-color: #081545;
            color: white;
            border: none;
            padding: 6px 15px;
            border-radius: 20px;
            cursor: pointer;
            font-size: 14px;
            transition: background 0.3s;

            &:hover {
                background-color: #0056b3;
            }
        }
    }
}