.dashboard {
  padding: 64px 10% 0;
  display: flex;
  flex-direction: column;
  gap: 36px;

  .section {
    display: flex;
    gap: 24px;
    align-items: flex-start;
    border-radius: 10px;
    border: solid 2px #081545;
  }

  .dashboardCard {
    flex: 1;
    padding: 16px;
    border: 2px solid #081545;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    min-height: 380px;
    min-width: 330px;
    box-shadow: 0 8px 20px rgba(0, 170, 255, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 10px 0px 10px;
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 12px 30px rgba(0, 170, 255, 0.5);
    }

    .cardImage {
      width: 120px;
      height: 120px;
      margin-bottom: 16px;
    }

    .cardTitle {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    .cardDescription {
      margin-bottom: 1rem;
      font-size: 0.9rem;
    }
  }

  .listContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 400px;
    padding: 16px 10px 16px 0px;
    overflow-y: auto;

    .listItem {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 12px;
      background-color: #f9f9f9;
      border-radius: 10px;
      border: 1px solid #081545;

      .listItemText {
        font-size: 16px;
        color: #333;
      }

      .listButton {
        padding: 4px 12px;
        border-radius: 8px;
        background-color: #081545;
        color: #fff;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }

  .createquizzstats {
    display: flex;
    gap: 24px;
    align-items: flex-start;
    border-radius: 10px;
    border: solid 2px #081545;
    min-height: 380px;
    min-width: 750px;
    margin: 15px 20px 20px 0px;
  }

  .emptyCard {
    flex: 1;
    min-height: 340px;
    min-width: 280px;
    border: 2px dashed #081545;
    border-radius: 20px;
    margin: 15px 20px 15px 0px;
  }
}
