.detailPage {
  margin: 5vh 2vw;

  h1 {
    margin-bottom: 20px;
  }
}

.detailContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 35vw;

  .avatarLarge {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
  }
}
.buttonGroup {
  display: flex;
  gap: 1vw;
  margin-top: 5vh;

  button {
    padding: 1vh 1vw;
    background-color: #0b0b3b;
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;

    &:hover {
      background-color: #1a1a5e;
    }
  }
}

.coursescontainer {
  display: flex;
  .selectedCourses {
    margin-top: 5vh;
    width: 32vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1vw;
    .courseItem {
      width: 15vw;
      height: 7vh;
      padding: 10px 20px;
      background-color: #e8f5e9;
      border: 1px solid #66bb6a;
      color: #2e7d32;
      border-radius: 5px;
      margin-bottom: 5px;
    }
  }

  .courses {
    flex: 2;
    gap: 25vw;

    .courseList {
      margin-top: -18vh;
      margin-left: 5vw;
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 3vh 3vw;
      min-width: 35vw;

      .courseItem {
        justify-content: space-between;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        border-bottom: 1px solid #ccc;

        button {
          background-color: #0b0b3b;
          color: white;
          border-radius: 100px;
          padding: 3px 5px;
          cursor: pointer;
          font-size: 14px;
          margin-bottom: 10px;
          margin-top: 10px;

          &:hover {
            background-color: #1a1a5e;
          }
        }
      }
    }
  }
}

.notFound {
  text-align: center;

  h1 {
    margin-bottom: 20px;
  }

  button {
    padding: 10px 20px;
    background-color: #0b0b3b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #1a1a5e;
    }
  }
}
