.step1 {
  border-radius: 8px;
  padding: 24px;
  display: grid;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #404040;
  
  .heading {
    font-size: 32px;
    font-weight: 500;
  }

  label{
    display: inline-block;
    margin-bottom: 8px;
    cursor: pointer;
  }
  .gridItem{
    label{
      display: block;
    }
  }

  .input {
    padding: 8px;
    border-color: #00e0cb;
    width: 388px;
  }
  
  .submitButton {
    width: 130px;
    height: 30px;
    background-color: #009688;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 10px;
    justify-self: end;
  }
  
  .submitButton:hover {
    background-color: #00ae9c;
  }
}

