.step1 {
  margin: 64px 5%;
  border-radius: 8px;
  box-shadow: 0 4px 12px #02d5f2;
  background-color: #f5faff;
  border: 1px solid #02d5f2;
  padding: 24px;
  display: grid;

  .heading {
    font-size: 48px;
    font-weight: bold;
  }

  .grid {
    padding-top: 27px;
    justify-items: center;
    gap: 16px;
    margin-bottom: 36px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .gridItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .label {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
  }

  .input {
    border: 1px solid #02d5f2;
    padding: 8px;
    width: 100%;
    max-width: 388px;
  }

  .submitButton {
    width: 130px;
    height: 30px;
    background-color: #02d5f2;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    transition: background-color 0.3s;
    margin-top: 10px;
    align-self: end;
    cursor: pointer;

    &:hover {
      background-color: #01c0e2;
    }
  }
}
