.quizIdPage {
  max-height: 90vh;
  padding: 20px 30px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    Button {
      margin-top: -20px;
    }
  }

  .questionList {
    overflow-y: auto;
    flex-grow: 1;
    padding: 16px 20px;
  }

  h2,
  h1,
  h3 {
    font-weight: 600;
    color: #2d3748;
  }

  .questionCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;


    select,
    input,
    textarea {
      border-radius: 8px;
      font-size: 16px;
      width: 100%;
    }

    textarea {
      min-height: 50px;
    }
  }

  .questionCard + .questionCard {
    margin-top: 1.5rem;
  }

  .answerOptions {
    margin-top: 0.5rem;

    input {
      margin-bottom: 0.5rem;
    }

    .correctSelect {
      margin-top: 1rem;
    }
  }
}
.newModalBody {
  border: 1px dashed #a3c5f5;
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 720px;
}

.topBar {
  display: flex;
  align-items: center;
  gap: 45px;
  Select {
    display: flex;
    background-color: #f9f9f9;
    max-width: 200px;
    option {
      max-width: 200px;
    }
  }

  .uploadLabel {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    color: #2b6cb0;
    border: 1px solid #f9f9f9;
    padding: 6px 10px;
    border-radius: 6px;
    font-weight: 500;
    width: 500px;
    background-color: #f7fafc;
    transition: 0.2s ease;
    margin-right: 30px;

    &:hover {
      background-color: #ebf8ff;
    }
  }

  .deleteBtn {
    color: #e53e3e;
    font-weight: 600;
    padding: 10px;
    width: 350px;
  }
}

.fieldGroup {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 4px;
    font-weight: 600;
  }
  Textarea {
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 18px;
    resize: vertical;
    min-height: 50px;
  }

  input {
    padding: 10px;
  }
}

@media (max-width: 992px) {
  .quizIdPage {
    padding: 1rem;
  }

  .questionCard {
    padding: 1rem;
  }

  .formSection {
    margin-bottom: 1.5rem;
  }
}
