.dashboard {
  font-family: Arial, sans-serif;
  padding: 20px;
  color: #111;

  .header {
    display: flex;
    align-items: center;
    gap: 300px;
    margin-bottom: 40px;
    margin-top: 15px;

    h1 {
      font-size: 28px;
    }

    .headerActions {
      display: flex;
      gap: 60px;

      button {
        display: flex;
        background: none;
        border: none;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }

  h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .quickAccess {
    display: flex;
    gap: 15px;

    .card {
      max-width: 20vw;
      height: 120px;
      border: 1px solid #ddd;
      padding: 20px;
      border-radius: 8px;
      flex: 1;
      text-align: left;
      background-color: #f4f9fd;

      .icon {
        font-size: 24px;
        margin-bottom: 10px;
      }

      h3 {
        font-size: 18px;
        margin: 5px 0;
      }

      p {
        color: #666;
      }
    }
  }

  .messagecalendar {
    display: flex;
    gap: 100px;

    .messagesSection {
      margin-top: 30px;

      .messagesHeader {
        display: flex;
        justify-content: space-between;

        h2 {
          align-items: center;
          font-size: 24px;
        }

        .seeAll {
          font-size: 18px;
          text-decoration: none;
          color: #007bff;
        }
      }

      .messageCard {
        background: #f1f3f5;
        padding: 15px;
        border-radius: 8px;
        margin-bottom: 10px;
        min-width: 35vw;

        h4 {
          font-size: 16px;
        }

        p {
          color: #555;
        }
      }
    }

    .calendar {
      margin-top: 30px;

      h2 {
        font-size: 20px;
        margin-bottom: 10px;
      }

      table {
        width: 100%;
        border-collapse: collapse;

        th,
        td {
          width: 14%;
          text-align: center;
          padding: 10px;
          border: 1px solid #ddd;
        }

        .active {
          background-color: #007bff;
          color: #fff;
          border-radius: 50%;
        }

        .empty {
          background-color: #f9f9f9;
        }
      }
    }
  }
}
