.step1 {
  margin: 64px 5%;
  border-radius: 8px;
  box-shadow: 0 4px 12px #02d5f2;
  background-color: #f5faff;
  border: 1px solid #02d5f2;
  padding: 24px;
  display: grid;

  .heading {
    font-size: 48px;
    font-weight: bold;
    padding-left: 70px;
  }

  label {
    display: inline-block;
    margin-bottom: 8px;
  }

  .input {
    border: 1px solid #02d5f2;
    padding: 8px;
    width: 388px;
  }

  .submitButton {
    width: 130px;
    height: 30px;
    background-color: #02d5f2;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    transition: background-color 0.3s;
    margin-top: 10px;
    justify-self: end;

    &:hover{
      background-color: #fff;
    }
  }
}
