.professorDetail {
  padding: 20px 40px;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.profile {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
  margin-left: 100px;
}

.image {
  flex-shrink: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  flex-grow: 1;
}

.info p {
  margin: 10px 0;
  font-size: 1.1rem;
}

.courses {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  
}

.courses h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.courses ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
  padding: 0;
}

.courses li {
  margin-bottom: 15px;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.removeButton {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.removeButton:hover {
  background-color: #d32f2f;
}
