.coursesPage {
  padding: 60px 200px 60px 200px;

  h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }

  .coursesContainer {
    display: flex;
    gap: 20px;
    border: 1px solid #02d5f2;
    box-shadow: 0 8px 20px rgba(0, 170, 255, 0.3);
    border-radius: 8px;
    width: 1400px;
    padding: 60px 74px;
    min-height: calc(100vh - 300px);
    justify-content: center;

    .coursesList {
      flex: 1;
      padding: 10px;
      border-radius: 8px;

      .scrollableBox {
        overflow-y: auto;
      }

      .searchBar {
        display: flex;
        margin-bottom: 20px;

        input {
          flex: 1;
          padding: 10px;
          border: 1px solid #007bff;
          border-radius: 6px;
          margin-right: 10px;
        }

        button {
          padding: 10px 15px;
          background-color: #007bff;
          color: white;
          border: none;
          border-radius: 6px;
          cursor: pointer;

          &:hover {
            background-color: #0056b3;
          }
        }
      }

      .courseItem {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        border: 1px solid #007bff;
        border-radius: 8px;
        padding: 10px;

        .courseDetails {
          display: flex;
          padding-left: 18px;
          align-items: center;

          h3 {
            font-size: 20px;
            width: 300px;
          }

          p {
            font-size: 14px;
            margin: 2px 0px;
            margin-left: 100px;
          }
        }

        .syllabusButton {
          align-self: center;
          padding: 8px 18px;
          background-color: #007bff;
          color: white;
          border: none;
          border-radius: 6px;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #0056b3;
          }
        }
      }
    }

    .courseFilter {
      width: 375px;
      padding: 10px;
      margin: 0px 70px 0px 70px;

      h2 {
        font-size: 1.5rem;
        margin-bottom: 15px;
      }

      .filterGroup {
        margin-bottom: 15px;

        label {
          display: block;
          margin-bottom: 5px;
        }

        select {
          width: 100%;
          padding: 8px;
          border: 1px solid #007bff;
          border-radius: 6px;
          background-color: #f8f9fa;
          color: #888;
          opacity: 0.7;

          &:focus {
            border-color: #007bff;
            outline: none;
          }
        }
      }

      .addCourse {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 15px;
        margin-top: 20px;
        cursor: pointer;
        border: 1px solid #007bff;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 123, 255, 0.2);
        background-color: white;

        img {
          width: 108px;
          height: 106px;
          margin-bottom: 10px;
        }

        p {
          font-size: 36px;
          color: #007bff;
          font-weight: bold;
        }

        &:hover {
          background-color: #e9f4ff;
        }
      }
    }
  }
}
