.searchBar {
  display: flex;
  align-items: center;
  margin: 12px 0px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;

  transition: border-color 0.2s ease-in-out;
  background-color: #e8edf5;

  &:focus-within {
    border-color: #007bff;
  }

  input {
    margin-left: 5px;
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
    background: transparent;
  }
}
