.confirmationContainer {
  text-align: center;
  padding: 50px;
}

.congratulations {
  font-size: 32px;
  font-weight: bold;
}

.doneText {
  font-size: 18px;
  margin-bottom: 40px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.submitButton {
  width: 130px;
  height: 30px;
  text-align: center;
  padding: 6px 47px;
  background-color: #02d5f2;
  color: white;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #01c0e2;
}
