.sidebar {
  background-color: #081545;
  height: 100%;
  width: 100%;
  border-radius: 8px;

  .pages {
    color: white;
    cursor: pointer;

    .item {
      display: flex;
      padding: 16px 36px;
      gap: 16px;
      transition: 0.3s;

      &:hover {
        background-color: #fff;
        background-color: #009688;
      }
    }
    .active {
      background-color: #009688;
    }
  }
}
