.quizzesPage {
  padding: 60px 200px 60px 200px;

  h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }

  .quizzesContainer {
    display: flex;
    gap: 20px;
    border: 1px solid #02d5f2;
    box-shadow: 0 8px 20px rgba(0, 170, 255, 0.3);
    border-radius: 10px;
    width: 1400px;
    padding: 60px 74px;
    min-height: calc(100vh - 300px);
    justify-content: center;

    .quizzesList {
      flex: 1;
      padding: 10px;
      border-radius: 5px;

      .scrollableBox {
        overflow-y: auto;
      }

      .searchBar {
        display: flex;
        margin-bottom: 20px;

        input {
          flex: 1;
          padding: 10px;
          border: 1px solid #007bff;
          border-radius: 4px;
          margin-right: 10px;
        }

        button {
          padding: 10px 15px;
          background-color: #007bff;
          color: white;
          border: none;
          border-radius: 4px;
          cursor: pointer;

          &:hover {
            background-color: #0056b3;
          }
        }
      }

      .quizItem {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        border: 1px solid #007bff;
        border-radius: 10px;
        height: 60px;
        padding: 2px;

        .quizDetails {
          display: flex;
          padding-left: 18px;
          .nmbquestions {
            padding: 14px 0px 0px 90px;
            color: #888;
            opacity: 0.7;
          }
          h3 {
            font-size: 20px;
          }

          p {
            font-size: 14px;
            margin: 2px 0;
          }
        }

        .quizStatus {
          align-self: center;
          padding: 8px 18px;
          margin: 12px;
          border-radius: 10px;
          color: white;
          &.completed {
            background-color: #28a745;
          }
          &.uncompleted {
            background-color: #dc3545;
          }
        }
      }
    }

    .quizFilter {
      width: 375px;
      padding: 10px;
      margin: 92px 70px 0px 70px;

      h2 {
        font-size: 1.5rem;
        margin-bottom: 15px;
      }

      .filterGroup {
        margin-bottom: 15px;

        label {
          display: block;
          margin-bottom: 5px;
          color: #888;
          opacity: 0.7;
        }

        select {
          width: 100%;
          padding: 8px;
          border: 1px solid #007bff;
          border-radius: 4px;
          background-color: #f8f9fa;
          color: #888;
          opacity: 0.7;

          &:focus {
            border-color: #007bff;
            outline: none;
          }
        }
      }
    }
  }
}
