@import "../../scss/colors.scss";

.forgotPassword {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 380px;

  h2{
    margin-bottom: 24px;
    text-align: center;
    font-size: 24px;
    color: $secondary-green;
    font-weight: 500;
  }
  .inputBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    height: 40px;
    margin-bottom: 28px;
    padding-right: 10px;
    gap: 10px;
    position: relative;

    &:nth-last-of-type(2) {
      margin-bottom: 47px;
    }

    input {
      flex-grow: 1;
      background: transparent;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      outline: 0;

      &::placeholder {
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        color: #4e4e4e;
      }
    }

    .error {
      position: absolute;
      color: red;
      bottom: -25px;
      left: 0;
      font-size: 14px;

      visibility: hidden;

      &.visible {
        visibility: visible;
      }
    }
  }
  .codeContainer{
    margin-bottom: 56px;
  }
  .sendBtn {
    width: 100%;
    padding: 8px 0;
    font-size: 20px;
    line-height: 24px;
    background: $light-blue;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
    margin-bottom: 16px;
  }
  .backToLogIn{
    color: $light-blue;

    &:hover{
      color: $secondary-green;
    }
  }
}
