.newDepartment {
  display: flex;
  margin: 5vh 2vw;

  gap: 8vw;
  .rightside {
    h1 {
      font-size: 5vh;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .info {
      font-size: 2.5vh;
      margin-bottom: 20px;

      .inputGroup {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;

        label {
          font-weight: bold;
          margin-right: 10px;
        }
        input {
          margin-top: 15px;
          padding: 8px;
          width: 20vw;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 2vh;

          &:focus {
            outline: none;
            border-color: #0b0b3b;
          }
        }
        .description{
          padding: 4px;
          width: 20vw;
          border-radius: 4px;
          border: 1px solid #ccc;
          font-size: 2vh;

          &:focus{
            outline: none;
            border-color: #0b0b3b;
          }
        }
      }
    }

    .buttonGroup {
      display: flex;
      gap: 1vw;
      margin-bottom: 20px;

      button {
        padding: 0.5vh 1vw;
        background-color: #0b0b3b;
        color: white;
        border: none;
        border-radius: 100px;
        cursor: pointer;
        font-size: 2vh;

        &:hover {
          background-color: #1a1a5e;
        }
      }
    }

    .assignedSection {
      margin-top: 20px;
      .assignedList {
        display: flex;
        gap: 50px;

        div {
          h3 {
            font-size: 3vh;
            margin-bottom: 10px;
          }

          p {
            margin: 5px 0;
            font-size: 2.2vh;
            color: #333;
          }
        }
      }
    }
  }
  .leftside {
    .availablelists {
      display: flex;
      max-width: 35vw;
      flex-direction: column;
      gap: 20px;

      .availableList {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 2vh 2vw;
        min-width: 35vw;

        .listItem {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 5px;
          border-bottom: 1px solid #ccc;
          font-size: 2vh;

          span {
            color: #333;

            &:first-of-type {
              margin-right: 2vw;
            }
          }

          button {
            background-color: #0b0b3b;
            color: white;
            border-radius: 100px;
            padding: 3px 5px;
            cursor: pointer;
            font-size: 1.8vh;
            margin-bottom: 8px;

            &:hover {
              background-color: #1a1a5e;
            }
          }
        }
      }
    }
  }
}
