.container {
  width: 100%;
  height: 1024px;
  position: relative;
  overflow: hidden;
}

.errorMessage {
  width: 379px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 753px;
  left: 573px;
  font-weight: 600;
  font-size: 48px;
  text-align: left;
}

.imageContainer {
  width: 649px;
  height: 434px;
  position: absolute;
  top: 230px;
  left: 395px;
  overflow: hidden;
}

.notFoundImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.backButton {
  width: 131px;
  height: 40px;
  background: rgba(2, 213, 241, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 15px;
  border-radius: 10px;
  position: absolute;
  top: 910px;
  left: 1145px;
  cursor: pointer;
  text-align: center;
}
