.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.errorMessage {
  color: rgba(0, 0, 0, 1);
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  margin-bottom: 20px;
}

.imageContainer {
  width: 600px;
  height: 400px;
  overflow: hidden;
  margin-bottom: 20px;
}

.notFoundImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.backButton {
  width: 131px;
  height: 40px;
  background: rgba(2, 213, 241, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  margin-left: 70%;
}
